<%- include("../partials/header") %>


<script src="nav2d.js"></script>

  <div class="container">
    <div class="card mt-3" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title text-center fs-2 fw-bolder">Navigation System Map : <%= name_map %></h5>
        </div>
    </div>


  <div class="container mt-3">
    
    <div class="row">
      
      <div class="col-lg-6 col-md-6 ">

        <div class="card mt-3"  >
          
            
            

            <div class="card-body">
              <h5 class="card-title">Configure</h5>


              <% if(locals.isMoving && isMoving == 1){%>
                  <button class="btn btn-warning p-3 mt-1 ps-5 pe-5 " name="topause" onclick="">Pause</button>
                  <button class="btn btn-danger p-3 mt-1 ps-5 pe-5" name="tostop" onclick="">Stop</button>
              <%} %>
            

              <table class="table table-striped mt-2 border-top text-center">
                <thead class="thead-dark">
                    <th scope="col">Order</th>
                    <th scope="col">Name</th>
                    <th scope="col">control</th>

                </thead>
                <tbody >

                  <% let n = 0; %>
                  <% for(let i of data){%>
                    <% n+=1; %>
                    <tr>
                      <td><%= n %></td>
                      <td><%= i.name %></td>

                      <td>
                        <div class="d-flex justify-content-center">

                          <form action="move" method="post">
                            <button class="btn btn-success">Move</button>
                            <input type="text" class="d-none" name="map" value="<%= i.map %>">
                            <input type="text" class="d-none" name="plan" value="<%= i.name %>">
                          </form>

                        </div>
                      </td>
                      
                    </tr>
                  <%} %>
                    
                    
                </tbody>
              </table>
              
              <% if(isMoving == 0){%>

                <form class="my-2" action="close_navigation" method="post">
                  <div class=" ">
                    <button type="submit" class="btn btn-danger p-3  mb-3">
                      Close System
                    </button>
                  </div>
                </form>

              <%}%>

              <!-- <button class="btn btn-success  p-3 mt-1 ps-5 pe-5 float-end" onclick="moveTopoint(1)">Start Moving</button> -->
                 
            </div>  

        </div>
        
      </div>

      <div class="col-lg-6 col-md-6">
        
        <div class="input-group mb-1">
          <p id="init_pose" onclick="set_init_pose()" class="btn btn-primary" data-bs-toggle="button" >init pose</p>
          <p class="zoom-ctrl btn btn-primary" id="zoomplus"  data-bs-toggle="button">Zoom in</p>
          <p class="zoom-ctrl btn btn-primary" id="zoomminus" data-bs-toggle="button">Zoom out</p>
        </div>
        <div id="nav" style="text-align: center; " class="">
        </div>
      </div>

      
    </div>
  </div>




  <script src="page_nav_map.js"></script>
  <script src="/axios/axios.min.js"></script>


  <% if(isMoving == 0){%>

    <script>
      var str =  '<%- JSON.stringify(data)%>';
      str = str.replace(/'/g, '"')
      obj = JSON.parse(str);
  
      show_pos({});
      function set_init_pose(){
          let btn = document.querySelector("#init_pose");
          let isActive = false;
          for(let i of btn.classList){
            if (i === "active")isActive=true;
          }
          if(isActive){
              init_pose("init_pose");
          }else{
              init_pose("");
          }
      }
    </script>

  <%}else if(isMoving == 1){%>
    
     <script>

      var str =  '<%- JSON.stringify(get_pos)%>';
      let now_pos = '<%-now_pos%>'
      str = str.replace(/'/g, '"')
      obj = JSON.parse(str);

      nav_pos(obj,now_pos);
    
  </script>
  <%}%>



 


<%- include("../partials/footer") %> 


<script>
  // if(pos === 0){4
    //   // console.log("NOT AGAIN");
    // }else{
    //   // console.log("MOVE AGAIN");
    //   move_to_pos( obj , {pos:pos,con:"move"} );
    // }
    
    // function moveTopoint(pos){
    //   window.location="/navigation/moving/1";
    // }

    // function delect(){
    //   return confirm("Are you confirm !");
      
    // }
</script>