<%- include("partials/header") %>


<script src="nav2d.js"></script>

  <div class="container">
    <div class="card mt-3" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title text-center fs-2 fw-bolder">Navigation System</h5>
        </div>
  </div>


  <div class="container mt-3">
    
    <div class="row">
      
      <div class="col-lg-6 col-md-6 ">

        <div class="card mt-3"  >
          
          <% if (  posNow == 0 ) { %>
            
            

            <div class="card-body">
              <h5 class="card-title">Configure</h5>

              <div class="my-2">
                <label for=""> Select Map</label>
                <select id = "select_map" class="form-select"  onchange="make_plan()" aria-label="Default select example">
                  <option selected></option>
                  <% for (let i of file_map){%>
                      <option value='<%=i%>' ><%= i %></option>
                  <%} %>
                </select>
                

              </div>

              <div class="my-2">
                <label for=""> Select plan</label>

                <select id = "select_plan" class="form-select" aria-label="Default select example">
                  
            
                </select>

              </div>

              

              <form action="launch_nav" onsubmit="return vali()" method="post" class="">
                    <button type="submit" class="btn btn-danger">เปิดระบบการนำทาง</button>
                    <input name="map" type="text" class="d-none">
                    <input name="plan" type="text" class="d-none">
              </form>

            </div>  
            <!-- <button class="btn btn-danger p-3 mt-1 ps-5 pe-5" onclick="moveTopoint(1)">Control Move</button> -->
            
         <% }else{%>

            <div class="card-body">
              <h5 class="card-title">Moving To Pos : <%= posNow %> </h5>
 
            </div>  

            <button class="btn btn-warning p-3 mt-1 ps-5 pe-5 " name="topause" onclick="">Pause</button>

            <button class="btn btn-danger p-3 mt-1 ps-5 pe-5" name="tostop" onclick="">Stop</button>
            
            <div class="mb-5"></div>


         <% }%>

        </div>
        



      </div>

      <div class="col-lg-6 col-md-6">
        <div id="nav" style="text-align: center; " class="mt-3"></div>
      </div>

      
    </div>
  </div>




  <script src="page_nav_map.js"></script>
  <script src="/axios/axios.min.js"></script>

  <script>

    let pos = Number('<%-posNow%>')
    var str =  '<%- JSON.stringify(data)%>';
    str = str.replace(/'/g, '"')
    obj = JSON.parse(str);

    if(pos === 0){
      // console.log("NOT AGAIN");
      show_pos(obj);
    }else{
      // console.log("MOVE AGAIN");
      move_to_pos( obj , {pos:pos,con:"move"} );
    }
    
    function moveTopoint(pos){
      window.location="/navigation/move/1";
    }

    function delect(){
      return confirm("Are you confirm !");
      
    }


  </script>

  <script>
    function vali(){
      let select_map = document.querySelector('#select_map').value;
      let se = document.querySelector('#select_plan').value 

      let to_return = true;
      if( select_map === '' || se === '' ){
        to_return = false;
        alert("Empty data")
      }
      document.querySelector("input[name=map]").value = select_map;
      document.querySelector("input[name=plan]").value = se;
      return to_return;
    }
    function make_plan(){
      let select_map = document.querySelector('#select_map');
      let element = document.querySelector('#select_plan');
      while (element.firstChild) {
        element.removeChild(element.firstChild);
      }
      
      if(select_map.value !=''){
        axios({
                url:'/navigation/get_navroom',
                method:'get',
                params:{select_map:select_map.value},
                timeout:3000
            }).then((result)=>{
                let nav_room = result.data.navRoom;
                if(nav_room.length > 0 ){
                  let se = document.querySelector('#select_plan')

                  for(let i of nav_room){
                    const para = document.createElement("option");
                    para.text=i
                    para.value = i
                    se.appendChild(para)
                  }
                }
                console.log(nav_room);
            })
      }
    }
  </script>

  <!-- <script src="nav2d.js"></script> -->

<%- include("partials/footer") %> 


