<%- include("partials/header") %>


  <div class="container mt-3">

    <div class="row">
      
      <div class="col-lg-6 col-md-6 ">
        <div class="card mt-3"  >
          <% if (  posNow == 0 ) { %>
            <div class="card-body">
              <h5 class="card-title">Configure</h5>
              <a href="/insert" class="btn btn-success p-2 mt-2 float-end" >insert</a>
              <table class="table table-striped mt-2 border-top ">
                <thead class="thead-dark">
                    <tr><th scope="col">Posname</th><th scope="col">Color</th><th scope="col">Config</th></tr>
                </thead>
                <tbody>
                    
                    <%  for(let i =0 ;i<data.length;i++){ %>
                    <tr>
                        <td><%= data[i].name%></td>
                        <td>
                          <!-- <p ><%= data[i].color %></p> -->
                          <input type="color" name="" id="" value="<%= data[i].color _%>" disabled>
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm" data-toggle="modal"  >EDIT</button>
                            <form action="/delete" method="post" class="d-inline pw-3">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return delect()"  name="delete" value="<%= data[i]._id _%>">Delete</button>
                            </form>
                        </td>

                    <%} %>

                    </tr>
                </tbody>
              </table>
  
            </div>  
            <button class="btn btn-danger p-3 mt-1 ps-5 pe-5" onclick="moveTopoint(1)">Control Move</button>

         <% }else{%>

            <div class="card-body">
              <h5 class="card-title">Moving To Pos : <%= posNow %> </h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <!-- <p class="card-text"></p> -->

            </div>  

            <button class="btn btn-warning p-3 mt-1 ps-5 pe-5 " name="topause" onclick="">Pause</button>

            <button class="btn btn-danger p-3 mt-1 ps-5 pe-5" name="tostop" onclick="">Stop</button>
            
            <div class="mb-5"></div>


         <% }%>

        </div>
        



      </div>

      <div class="col-lg-6 col-md-6">
        <div id="nav" style="text-align: center;" class="mt-3"></div>
      </div>

      
    </div>
  </div>




  <script src="page_nav_map.js"></script>
  <script>

    let pos = Number('<%-posNow%>')
    var str =  '<%- JSON.stringify(data)%>';
    str = str.replace(/'/g, '"')
    obj = JSON.parse(str);

    if(pos === 0){
      // console.log("NOT AGAIN");
      show_pos(obj);
    }else{
      // console.log("MOVE AGAIN");
      move_to_pos( obj , {pos:pos,con:"move"} );
    }
    
    function moveTopoint(pos){
      window.location="/navigation/move/1";
    }

    function delect(){
      return confirm("Are you confirm !");
      
    }


  </script>



  <!-- <script src="nav2d.js"></script> -->

<%- include("partials/footer") %> 


