<%- include("../partials/header") %>





  <div class="container">
    <div class="card mt-3" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title text-center fs-2 fw-bolder">Nav Stack Map : <%= name_map %>   </h5>

        </div>
  </div>


  <div class="container mt-3">
    
    <div class="row">
      
      <div class="col-lg-6 col-md-6 ">

        <div class="card mt-3"  >
          
            
            <div class="card-body">
              <h5 class="card-title">room : <%= name_room %> </h5>

              <a href="/createNav/insert_nav?name_room=<%=name_room%>&name_map=<%=name_map%>" class="btn btn-success py-1 " >insert</a>

              <table class="table table-striped mt-2 border-top text-center">
                <thead class="thead-dark">
                    <th scope="col">Order</th>
                    <th scope="col">Name</th>
                    <th scope="col">color</th>
                    <th scope="col">Stop at point</th>

                </thead>
                <tbody >
                  <% let n = 0; %>
                  <% for(let i of posOut){%>
                    <% n+=1; %>
                    <tr>
                      <td><%= n %></td>
                      <td><%= i.name %></td>

                      <td>
                        <div class="d-flex justify-content-center">
                          <input type="color"  class="form-control p-0 w-75  "  disabled  value="<%=i.color%>" >
                        </div>
                      </td>
                      
                      <td>
                        <div class="d-flex justify-content-center">
                          <div class="form-check  mb-2">
                            <% if( i.option === 1 ){%>
                              <input class="form-check-input p-2 " type="checkbox"  checked id="" disabled>
                            <%}else if( i.option === 0 ){%>
                              <input class="form-check-input p-2 " type="checkbox"  id="" disabled>
                            <%}%>
                          </div>
                        </div>
                      </td>

                      <td>
                        <a href="/createNav/update_nav?name_room=<%=name_room%>&name_map=<%=name_map%>&id=<%=i._id%>" class="btn btn-warning py-1 " >EDIT</a>
                        <a href="/createNav/delete_nav?name_room=<%=name_room%>&name_map=<%=name_map%>&id=<%=i._id%>" onclick="return confirm('Are you sure ?')" class="btn btn-danger py-1 " >Delete</a>
                      </td>
                    </tr>
                  <%} %>
                    
                    
                </tbody>
              </table>


            
              
  
            </div>  

     

         

        </div>
        



      </div>



      <div class="col-lg-6 col-md-6">
        <div id="nav" style="text-align: center; " class="mt-3"></div>
      </div>


    </div>
  </div>



  <script src="nav2d.js"></script>
  <script src="page_nav_map.js"></script>



  <script>
    var str =  '<%- JSON.stringify(posOut)%>';
    str = str.replace(/'/g, '"')
    obj = JSON.parse(str);
    show_pos(obj);

  </script>




<%- include("../partials/footer") %> 

